<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<h1>Todo List</h1>
	<form action="/" method="get" style="margin-bottom: 20px;">
		<input type="text" name="keyword" placeholder="タスクを検索"/>
		<button type="submit">検索</button>
	</form>
	
	<form action="/" method="get" style="margin-bottom: 20px;">
		<select name="sortBy">
			<option value="dueDate">締め切り日順</option>
			<option value="priority">優先度準</option>
		</select>
		<button type="submit">並べ替え</button>
	</form>
	
	<a href="/create">新しいタスク</a>
	<p>優先度:赤＞黄＞青</p>
	<ul>
		<li th:each="task : ${tasks}" th:classappend="${task.priority.name().toLowerCase()}">
			<span th:text="${task.title}"></span>
			<span th:text="${task.category}"></span>
			<span th:text="${task.description}"></span>
			<span th:text="${task.dueDate}"></span>

			<a th:href="@{'/complete/'+${task.id}}" th:if="${!task.completed}" class="btn-complete">完了して削除</a>
<!--			<a th:href="@{'/toggle/'+${task.id}}" th:if="${task.completed}" class="btn-toggle">未完了にする</a>-->

			<a th:href="@{'/details/'+${task.id}}">詳細を見る</a>
			<a th:href="@{'/delete/' + ${task.id}}">削除</a>
		</li>
	</ul>
</body>

</html>